In [1]:
import io
import os
import sys
import csv
import gzip
import time
import json
import secrets
import multiprocessing
import subprocess
import resource
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import statsmodels.api as sm
import random
from collections import Counter
import seaborn as sns
import matplotlib.colors as mcolors
import itertools
import collections
sys.path.append('/well/band/users/rbx225/software/lcwgsus/')
# sys.path.append('/Users/sus_zhang/Desktop/Suuuuuuuus/lcwgsus/')
import lcwgsus
from lcwgsus.variables import *

from scipy.stats import poisson
from scipy.stats import chi2
from scipy.stats import friedmanchisquare
from scipy.stats import studentized_range
pd.options.mode.chained_assignment = None
%cd /gpfs3/well/band/users/rbx225/GAMCC/

# from matplotlib import colormaps
# list(colormaps)

/gpfs3/well/band/users/rbx225/GAMCC

In [9]:
sl = pd.read_csv(SAMPLE_LINKER_FILE)
sl[sl['Seq_Name'] == 'IDT0532']

   Sample_Name Seq_Name  Chip_Name
52      GM1294  IDT0532  GAM907384

In [10]:
hla = lcwgsus.read_hla_direct_sequencing(retain = 'fv')
hla[hla['SampleID'] == 'GAM907384']

,SampleID,Locus,One field1,Two field1,One field2,Two field2
985,GAM907384,A,02,02:02,68,68:01
986,GAM907384,B,18,18:01,49,49:01
987,GAM907384,C,03,03:02,07,07:01
988,GAM907384,DQB1,02,02:02/02:156,06,06:446/06:416Q/06:422N/06:02
989,GAM907384,DRB1,07,07:139/07:01,11,11:01